.container {
  padding-bottom: 3rem;
}
.form {
  width: 40rem;
  margin: 0 auto;
}
.fieldContainer {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.fieldContainer label {
  width: 20rem;
  font-size: 1.1rem;
}
.fieldContainer input {
  padding: 0.6rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(0, 0, 0, 0.3);
  outline: none;
  font-size: 1rem;
  width: 70%;
}
.dateContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.datePicker {
  width: 22rem;
  margin-left: 5rem;
}
.dropDown {
  position: absolute;
  right: 6rem;
  top: 0.5rem;
  cursor: pointer;
  width: 3rem;
}

.fieldContainerr {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.fieldContainerr label {
  font-size: 1.1rem;
}
.radioInput {
  display: flex;
  align-items: center;
}
.radio {
  margin-right: 3rem;
}
.radio input,
span {
  font-size: 1.2rem;
  margin: 0 0.2rem;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form button {
  padding: 0.7rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  width: 10rem;
  letter-spacing: 0.1rem;
  transition: 0.4s ease;
  margin-top: 2.5rem;
  background-color: teal;
  color: #fff;
  border-radius: 0.2rem;
}
.form button:hover {
  transform: scale(1.05);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
