.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  background-color: #fff;
  width: 100%;
}
.left {
  padding-left: 1rem;
}
.left a {
  text-decoration: none;
  color: teal;
}
.left,
.mid {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
